.pagination{
    grid-area: pagination;
    border: 6px solid #ec634b75;
    border-radius: 30px;
    width: 80%;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-direction: row;
}
.page-item{
    list-style: none;
    margin:1% 3%;
    cursor: pointer;
}
.page-item button{
    border: 2px solid #ec634b;
}


.page-item button:hover{
    background-color: #ec634b;
    color:white;
}