.section{
    
}
.services{
    display: grid;
    align-content: center;
    grid-template-areas: 
    "gallery "
    "pagination ";
    gap:20px;
    padding-bottom:20px;
    margin:20px 0;
}
.section .quote{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.section h1{
    margin-top: 20px;
    text-align: center;
    align-content: center;
    color:#ff4800;
    font-family: 'Sriracha', cursive;   
    font-weight: 1000;
    max-width: max-content;
    line-height: 70px;

}

