footer{
    display:grid;
    background: none;
    left: 0;
    bottom: 0;
    height: 15vh;
    max-width: 155vh;
    align-content: center;
    margin-top: 5vh;
}


footer ul{
    padding-top: 2rem;
    justify-content: center;
    justify-self: center;
    margin-bottom: 50px;
}

footer li{
    color: white;
    border:1px solid #ec634b;
    display:inline;
    border-radius: 25px;
    padding: 1rem 1rem;
    margin:3rem;
    text-align: center;
    list-style: none;
    cursor: pointer;
}
footer li:hover {
    background-color: #ec634b;
    color:white;
}
.footer-logo{
    grid-area:footerLogo;
    justify-self: end;
    text-align: left;
}