footer{
    display:grid;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top:10px solid #ec634b;
    justify-content: center;
    align-content: center;
}

footer h1{
    display:inline;
}

footer ul{
    grid-area:footer-btns;
    padding-top: 2rem;
    justify-content: center;
    margin-bottom: 50px;
}

footer li{
    border:1px solid #ec634b;
    display:inline;
    border-radius: 25px;
    padding: 1rem 1rem;
    margin:3rem;
    text-align: center;
    list-style: none;
    cursor: pointer;
}
footer li:hover {
    background-color: #ec634b;
    color:white;
}